.navbar {
  background-color: #c7c9cb;
  padding: 15px;
  text-align: center;
}

.brand {
  color: #6c6c6c;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
}

.subtitle {
  font-family: "Lato";
  font-size: 12px;
}
