<div class="container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h3>CONTACT</h3>
      <div class="contact-details">
        <p>EZEQUIELBROTSKY@GMAIL.COM</p>
        <p>+972 50 802 5215</p>
        <p>Tel Aviv, Israel</p>
        <p><a href="https://github.com/ezebrotsky" target="_blank">https://github.com/ezebrotsky</a></p>
      </div>
      <h3>SKILLS</h3>
      <div class="skill-details">
        <h4>PHP Frameworks</h4>
        <p>- Symfony2</p>
        <p>- Laravel</p>
        <h4>JavaScript Frameworks</h4>
        <p>- Node.Js (NestJS & ExpressJS)</p>
        <p>- Angular</p>
        <h4>Python</h4>
        <h4>C#</h4>
        <h4>Web Design</h4>
        <p>- ReactJS</p>
        <p>- jQuery</p>
        <p>- Ajax</p>
        <p>- CSS</p>
        <p>- HTML5</p>
        <h4>Linux</h4>
        <h4>Docker</h4>
        <h4>Git</h4>
        <h4>Databases</h4>
        <p>- MySQL</p>
        <p>- MongoDB</p>
        <p>- Microsoft SQL Server</p>
        <p>- Oracle PL/SQL</p>
        <h4>Google Cloud</h4>
      </div>
    </div>
  </div>
  <div class="content">
    <h3>PROFESSIONAL PROFILE</h3>
    <p>
      Backend developer with a strong web experience looking forward to work in a team where I’ll be able to apply my
      knowledge and adapt myself to new work environments and technologies with fast learning capacity.
    </p>
    <div class="section">
      <h3>EXPERIENCE</h3>
    </div>
    <h4>
      Personal Project
      <div class="fecha">2020</div>
    </h4>
    <p>
      Web e-commerce from scratch with ReactJs for the frontend, NodeJs for the backend and MongoDb. Using Heroku and
      Firebase as a deployment tools and hosting.
    </p>
    <h4>
      Avenews
      <div class="fecha">2020</div>
    </h4>
    <p>
      Developer intern at Avenews, fin-tech company in Israel.<br />
      Development of the web application’s new version using Angular for the frontend, NestJs (NodeJs framework) and
      Mongo for the API and database.
    </p>
    <h4>
      Ministry of Production and Labour of Argentina
      <div class="fecha">2017 - 2020</div>
    </h4>
    <p>
      I was in charge of the algorithm development in Laravel (PHP), and the maintenance of the frontend made in
      ReactJs.
    </p>
    <h4>
      Invenzis
      <div class="fecha">2016 - 2017</div>
    </h4>
    <p>
      Development of features and maintenance of the web application, a complete management system integrated with SAP,
      for big companies.
    </p>
    <h4>
      GSB Buenos Aires
      <div class="fecha">2016</div>
    </h4>
    <p>I used to develop features for many companies using PHP with Symfony2, PL/SQL, .NET and Java.</p>
    <h4>
      Code IT Solutions
      <div class="fecha">2014 - 2016</div>
    </h4>
    <p>Design and development of PL/SQL functions in order to generate reports from the Oracle ERP.</p>
    <div class="section">
      <h3>EDUCATION & CERTIFICATIONS</h3>
    </div>
    <h4>
      University of Buenos Aires
      <div class="fecha">2015 - 2020</div>
    </h4>
    <p>Information Systems of Organizations.</p>
    <h4>
      ADPP Program – Agile Design of Public Policies
      <div class="fecha">2019</div>
    </h4>
    <p>
      Certificate by Secretary of Modernization, National Institute of Public Administration and LABgobar. I’ve
      incorporated concepts, innovation tools and work methodologies based on the design of solutions focused on the
      citizen.
    </p>
    <h4>
      Escuelas Técnicas ORT, Argentina
      <div class="fecha">2008 - 2013</div>
    </h4>
    <p>Technical Bachelor in Computer And Digital Media.</p>
    <div class="section grey">
      <h3>
        LANGUAGES
        <div class="subtitle">Speaking, writing and reading</div>
      </h3>
    </div>
    <table class="languages">
      <tr>
        <th>SPANISH</th>
        <th>ENGLISH</th>
        <th>HEBREW</th>
      </tr>
      <tr>
        <td>Native</td>
        <td>Fluent</td>
        <td>Basic</td>
      </tr>
    </table>
  </div>
</div>
